@import url("https://fonts.googleapis.com/css2?family=Changa:wght@200;300;400;500;600;700;800&display=swap");
@keyframes color-change {
  0% {
    color: rgba(19, 71, 147, 1);
  }

  50% {
    color: gold;
  }
  100% {
    color: rgba(19, 71, 147, 1);
  }
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: changa;
}
body {
  background-image: linear-gradient(black, rgb(9, 0, 34));
  background-size: cover;
}
.button-ninja {
  font-size: 24px;
  text-decoration: none;
  color: white;
  border-top: 2px solid rgba(19, 71, 147, 255);
  border-bottom: 2px solid rgba(19, 71, 147, 255);
  padding: 10px;
  letter-spacing: 2px;
  transition: 1000ms;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-image: url("https://static.vecteezy.com/system/resources/previews/001/987/748/original/abstract-template-blue-geometric-diagonal-overlap-layer-on-dark-blue-background-free-vector.jpg");
  background-size: cover;
  cursor: pointer;
}
.button-ninja:hover {
  letter-spacing: 20px;
  padding-left: 30px;
  border-top: 2px solid gold;
  border-bottom: 2px solid gold;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  color: gold;
  margin: 0px 50px;
  opacity: 1;
  background-image: url("https://media.istockphoto.com/id/1224381750/vector/abstract-diagonal-black-background-with-golden-lines-luxury-style.jpg?s=612x612&w=0&k=20&c=QrEPtyncMgcWUsyDdojaNLHvWT_qCUJ-OMa6pxAd_lM=");
  background-size: cover;
}

/* Header */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
  width: 100%;
  top: 0px;
  padding: 50px 0px;
  gap: 50px;
}

header img {
  width: 300px;
  transition: 1000ms;
  opacity: 0.5;
}

.nav-list {
  display: flex;
  gap: 50px;
}

.nav-list button:last-child {
  display: none;
}

.header-vids {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: solid;
  border-bottom: solid;
  background-image: url("https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX26341488.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 50px;
  height: 50px;
}

header iframe {
  width: 50px;
  height: 50px;

  transition: 1000ms;
  filter: opacity(0%);
  -webkit-filter: opacity(0%);
  -moz-filter: opacity(0%);
}

/* Header hover */

header img:hover {
  width: 670px;
  opacity: 1 !important;
}

/* Header sticky function */

header.sticky {
  height: 50px;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 10px;
  border-bottom: 1px solid;
  border-color: rgba(19, 71, 147, 255);
  margin-bottom: 100px;
}

header.sticky img {
  display: flex;
  width: 80px;
  opacity: 0.5;
  align-items: center;
}

header.sticky button {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

header.sticky .header-vids {
  display: none;
}

/* Section one */

.section-one {
  display: flex;
  flex-direction: column;
  color: white;
  text-align: center;
  justify-content: center;
  height: 500px;
  width: 700px;
  margin: 0px auto 0px;
  border-top: solid;
  border-bottom: solid;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  gap: 30px;
  border-color: rgba(19, 71, 147, 255);
}

.section-one p {
  color: rgb(216, 216, 255);
  font-size: 25px;
}

.login-signup {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

/* Section two */
.section-two {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 800px;
  border-top: solid 3px;
  border-bottom: solid 3px;
  animation: color-change 10s infinite;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: black 50px;
  padding: 10px;
  margin: 25px auto;
}

/* Section two video */

.video-home {
  height: 470px;
  width: 1000px;
  border: none;
}

/* Footer */
footer {
  border-top: 1px solid white;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.footer-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

/* --------------- GAMES -------------- */
/* Section one  */

.section-one-games {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  border-top: solid 3px;
  border-bottom: solid 3px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-color: rgba(19, 71, 147, 255);
  width: 1400px;
  padding: 20px;
}

.game {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10px;
  border-bottom: solid 2px;
  border-top: solid 2px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-color: rgba(19, 71, 147, 255);
  margin: 5px 0;
  padding: 10px 20px;
  height: 200px;
  transition: 1000ms;
  background-image: url("https://static.vecteezy.com/system/resources/previews/001/987/748/original/abstract-template-blue-geometric-diagonal-overlap-layer-on-dark-blue-background-free-vector.jpg");
  font-size: 20px;
}
.first-div {
  width: 300px;
  text-align: center;
  color: white;
}
.image-div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.game img {
  transition: 1000ms;
  height: 170px;
  width: 300px;
  border-radius: 50px;
  filter: grayscale(100%);
}
.options {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 320px;
  align-items: flex-end;
  transition: 1000ms;
}

.game:hover {
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-color: gold;
  background-image: url("https://media.istockphoto.com/id/1224381750/vector/abstract-diagonal-black-background-with-golden-lines-luxury-style.jpg?s=612x612&w=0&k=20&c=QrEPtyncMgcWUsyDdojaNLHvWT_qCUJ-OMa6pxAd_lM=");

  padding: 5px;
}

.options button {
  padding: 8px;
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.options button:hover {
  letter-spacing: 5px;
  padding-left: 7px;
  margin: 0;
  width: 250px;
}

.image-game.img-on {
  filter: none;
  width: 400px;
  height: 240p;
  height: 260px;

  border-radius: 0px;
}

/* Login page */

.login-body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 3px white solid;
  border-bottom: 3px white solid;
  border-top-left-radius: 10px ;
  border-bottom-right-radius: 10px;
  border-color: rgba(19, 71, 147, 1);;
  width: 500px;
  height: 500px;
  color: white;
  font-size: 20px;
  gap: 50px;
}

.login-column {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.login-center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
}
.bouton-login {
width: 200px;
height: 50px;
display: flex;
justify-content: center;
align-items: center;
}
